name: CMake Multi-Platform

on:
  push:
    branches: [ "develop" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ubuntu - GCC
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
            build_type: Release

          # macOS - Clang
          - os:  macos-latest
            c_compiler:  clang
            cpp_compiler: clang++
            build_type: Release

          # Windows - MSVC
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            build_type:  Release

    runs-on:  ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.strings.outputs.build-dir }}
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -S ${{ github.workspace }}/utils

      - name: Build
        run: cmake --build ${{ steps.strings.outputs. build-dir }} --config ${{ matrix.build_type }}
